.vd-matrix {
	> div {
		position: relative;
		height: 100%;
		width: 100%;

		> div {
			position: absolute;

			&.columns-axis {
				top: 0;
				left: 0;
				right: 0;
			}

			&.rows-axis {
				top: 0;
				left: 0;
				bottom: 0;
			}

			&.table {
				top: 0;
				right: 0;
				bottom: 0;

				border: 1px #eee solid;

				overflow: auto;

				* {
				    box-sizing: border-box;
				}

				.row {
 					position: absolute;
 					left: 0;
 					right: 0;
 					border-bottom: 1px #eee solid;

					overflow: hidden;

					&.loading {
						background: #f1f1f1;
						opacity: 0.3;
					}

					.column {
						position: absolute;
						top: 0;
						bottom: 0;
						border-right: 1px #eee solid;

						&:hover {
							border: 1px blue solid;
							z-index: 99999;
						}

						&.loading {
							background: #f1f1f1;
							opacity: 0.3;
						}

					}
				}
			}
		}
	}
}